<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2"><br><br>
                    <h1 class="brand-heading">매일네일</h1>
                    <p class="intro-text">매일매일 네일하자, 매일네일</p><br><br>
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="지역을 입력해주세요!">
                              <span class="input-group-btn">
                              <a href="/location/where">
                                <button class="btn btn-primary" type="button">Go!</button>
                              </a>
                              </span>
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->      
                        <br><br>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="jumbotron">
            <h1>부담없이 매일 네일하자, 매일네일</h1>
          <br><br>
            <h2 style="color: dartgrey;">네이버도, 친구들도 모르는 진짜 꿀바른 네일아티스트들이 가득!</h2>
            <h2>비용부담없이 매일매일 네일할 수 있는 고퀄 네일아트 예약서비스 매일네일!</h2><br><br>
            <div class="thick">
            <p><a>원하는 시간</a>에 <a>원하는 장소</a>로 네일아티스트가 찾아갑니다.</p>
            <p>네일아티스트들의 작품들을 보고 <a>미리 고른 네일아트</a>를 빠르게!</p>
            <p>이 모든 서비스가 <a>합리적인 가격</a>에 제공됩니다.</p></div>
        </div>
    </div>
</section>

<!-- Map Section -->
<section id="top15" class="container content-section text-center">
    <div id="wrapper" style="margin-top: 0px;">
        <h2>매일 네일아트 TOP 15</h2>
        <p>매일네일이 추천하는 15가지 스타일!</p>
    <div id="columns">
	    <div class="pin">
	    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1"><img src="/images/m9.jpg"/>
		    <p>
		         압구정동/20,000원
		    </p></button>
                <!-- Modal -->
                    <div id="myModal1" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">압구정동/20,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
	    </div>

		<div class="pin">
		    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2"><img src="/images/m10.jpg"/>
		    <p>
		         대현동/7,000원
		    </p></button>
                <!-- Modal -->
                    <div id="myModal2" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">대현동/7000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 김한정</h3><br><h4>hi7364:쉐이핑부터 아트까지 다 잘해주세요<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
	
		<div class="pin">
		    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3"><img src="/images/m11.jpg"/>
		    <p>
		         장안동/10,000원
		    </p></button>
                <!-- Modal -->
                    <div id="myModal3" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">장안동/10,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>

		<div class="pin">
		  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4">	<img src="/images/m12.jpg" />
			<p>
			    양재동/12,000원
			</p></button>
			
			 <!-- Modal -->
                    <div id="myModal4" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">양재동/12,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>아트젤네일 전문</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;">
                            <h3><br></h3><h3>아티스트 김희연</h3>
                            <h4>***</h4>
                            <br><h4>minha01 : 프로급 네일을<br>저렴한 가격에 받아 만족스럽습니다<br></h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
	                                           
		<div class="pin">
			 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal5"><img src="/images/m55.jpg" />
			<p>
				후암동/30,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal5" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                      <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">후암동/30,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3>
                             <h4>***</h4>
                             <br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
	
	
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal6">	<img src="/images/m16.jpg" />
			<p>
                보라매동/20,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal6" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" 보라매동/20,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
		
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal7">	<img src="/images/m17.jpg" />
			<p>
                북가좌2동/15,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal7" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">북가좌2동/15,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
	
	
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal8">	<img src="/images/m1.jpg" />
			<p>
			    옥수동/18,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal8" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                      <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">옥수동/18,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
	
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal9">	<img src="/images/m2.jpg" />
			<p>
			    효창동/30,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal9" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                       <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">효창동/30,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
		
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal10">	<img src="/images/m3.jpg" />
			<p>
			    상도1동/8,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal10" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">상도1동/8,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
		
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal11">	<img src="/images/m4.jpg" />
			<p>
	            남현동/35,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal11" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">남현동/35,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
	
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal12">	<img src="/images/m5.jpg" />
			<p>
			    고덕동/27,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal12" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">고덕동/27,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
		
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal13">	<img src="/images/m6.jpg" />
			<p>
			    개포4동/25,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal13" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                      <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">개포4동/25,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
		
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal14">	<img src="/images/m7.jpg" />
			<p>
			    응봉동/22,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal14" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">응봉동/22,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
	
		<div class="pin">
		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal15">	<img src="/images/m8.jpg" />
			<p>
			    삼청동/18,000원
			</p></button>
			 <!-- Modal -->
                    <div id="myModal15" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                       <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">삼청동/18,000원</h4>
                          </div>
                          <div class="modal-body" style="color: white;">
                            <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                            <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                            <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
		</div>
	
    </div>
</div>
</section>
<!--  <div id="map"></div>-->

<!-- Download Section -->
    <section id="download" class="content-section text-center" style="padding-top: 30px;">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>매일 아티스트 TOP 4</h1>
                    <p>매일네일이 추천하는 최고의 아티스트들입니다~</p>
                    <div class="row">
                      <div class="col-md-3 thumbnail">
                        <!--<a href="#" class="thumbnail">-->
                          <img src="/img/28.png" alt="Pulpit Rock" style="width:156px;height:240px">
                          <br>
                          <h3>태연</h3>
                          <p>신림동</p>
                          <p><a>프렌치 네일</a></p>
                        <!--</a>-->
                      </div>
                      <div class="col-md-3 thumbnail">
                        <!--<a href="#" class="thumbnail">-->
                          <img src="/img/27.png" alt="Pulpit Rock" style="width:156px;height:240px">
                          <br>
                          <h3>티파니</h3>
                          <p>양재동</p>
                          <p><a>아트 네일</a></p>
                        <!--</a>-->
                      </div>
                      <div class="col-md-3 thumbnail">
                        <!--<a href="#" class="thumbnail">-->
                          <img src="/img/26.png" alt="Moustiers Sainte Marie" style="width:156px;height:240px">
                          <br>
                          <h3>수영</h3>
                          <p>아현동</p>
                          <p><a>젤네일</a></p>
                        <!--</a>-->
                      </div>
                      <div class="col-md-3 thumbnail">
                        <!--<a href="#" class="thumbnail">-->
                          <img src="/img/25.png" alt="Cinque Terre" style="width:156px;height:240px">
                          <br>
                          <h3>윤아</h3>
                          <p>천호, 건대</p>
                          <p><a>그라데이션</a></p>
                        <!--</a>-->
                      </div>
                    
                </div>
            </div>
        </div>
    </section>
<div class="last" style="background-color: #b11e8c;">
<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2"><br><br><br>
            <h2>매일네일에서 꿈을 펼쳐보세요!</h2><br><br>
            <p>매일네일은 실력있는 네일아티스트들을 기다리고 있습니다.</p>
            <p><a href="mailto:maeilnail123@gmail.com">maeilnail123@gmail.com</a>
            </p><br>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>



<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; MaeilNail 2015</p><br><br>
    </div>
</footer>
</div>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src="js/grayscale.js"></script>

<ul class="community__container row col-center list-unstyled js-community-container">


<li class="col-md-6 col-lg-3 space-md-4">
  <div class="community-card community-card--create js-community-card community-card--show-images">
    <div class="panel">
      <a href="https://create.airbnb.com" class="community-card__link
                panel-image media-photo
                media-link
                js-community-card-create">
        <div class="media-cover media-cover-dark"></div>
        <div class="row row-table row-full-height">
          <div class="col-sm-12 col-middle text-contrast text-center">
            <div class="space-5">
              <img src="https://a1.muscache.com/airbnb/static/homepages/create-logo2-54abba61cb00e99ea9c5aee512eebe00.png" alt="크리에이트 에어비앤비" width="105" height="36" class="lazy" data-original="https://a1.muscache.com/airbnb/static/homepages/create-logo2-54abba61cb00e99ea9c5aee512eebe00.png" style="display: inline;">
            </div>
            <div class="space-3">
              <img src="/img/28.png" alt="" role="presentation" class="lazy" style="display: inline;">
            </div>
            <div class="h3">
              <strong>
                나만의 에어비앤비를 만들어 보세요.
              </strong>
            </div>
            <div>
              여러분만의 마크를 만들고 스토리를 들려주세요.
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</li>


<li class="col-md-6 col-lg-3 space-md-4">
  <div class="community-card community-card--traveling                   js-community-card community-card--show-images">
    <div class="panel">
      <a href="/help/getting-started/how-to-travel" ,="" class="community-card__link panel-image media-photo media-link text-center">
        <div class="media-cover media-cover-dark background-cover"></div>

        <div class="community-card__header">
          <div class="community-card__header-label">
            <strong class="text-contrast">
              여행
            </strong>
          </div>
        </div>

        <div class="row row-table row-full-height text-contrast">
          <div class="col-sm-10 col-center col-bottom">
            <div class="h2">
              <strong>앨리스와 크리스</strong>
            </div>

            <div class="space-4">Alice와 Chris는 언제나 현지 체험을 찾아 산과 바다를 건너 여러 마을을 찾아 다닙니다. <br><br> <u>에어비앤비를 통한 여행에 대하여 더욱 자세한 내용을 살펴보세요.</u></div>

          </div>
        </div>
      </a>
    </div>
  </div>
</li>


<li class="col-md-6 col-lg-3 space-md-4">
  <div class="community-card                                     community-card--business                   js-community-card community-card--show-images">
    <div class="panel">
      <a href="/business" ,="" class="community-card__link
                panel-image
                media-photo
                media-link
                text-center
                js-community-card-business">
        <div class="media-cover media-cover-dark background-cover"></div>

        <div class="community-card__header">
          <div class="community-card__header-label">
            <strong class="text-contrast">
              출장 프로그램
            </strong>
          </div>
        </div>

        <div class="row row-table row-full-height text-contrast">
          <div class="col-sm-11 col-center col-bottom">
            <div class="h2">
              <strong>
                에어비앤비 출장 프로그램
              </strong>
            </div>

            <div class="space-8">
              출장을 가서도 어디에서나 내 집처럼 편안하게 머무세요. <br><br> <u>에어비앤비 출장 프로그램에 등록하세요.</u>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</li>


<li class="col-md-6 col-lg-3 space-md-4">
  <div class="community-card community-card--hosting js-community-card community-card--show-images">
    <div class="panel">
      <a href="/help/getting-started/how-to-host" ,="" class="community-card__link panel-image media-photo media-link text-center">
        <div class="media-cover media-cover-dark background-cover"></div>

        <div class="community-card__header">
          <div class="community-card__header-label">
            <strong class="text-contrast">
              호스트
            </strong>
          </div>
        </div>

        <div class="row row-table row-full-height">
          <div class="col-sm-12 col-center col-bottom text-contrast">
            <div class="h2">
              <strong>Nina</strong>
            </div>
            <div class="space-4">
              전문 사진사인 Nina는 게스트들이 샹하이의 예술적인 면을 체험하도록 돕습니다. <br><br> <u>에어비앤비를 통한 호스팅에 대하여 더욱 자세한 내용을 살펴보세요.</u>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</li>

</ul>