<!-- Map Section -->
    <section id="top15" class="container content-section text-center">
        <div id="wrapper" style="margin-top: 0px;">
            <h2> 검색 결과</h2>
            <h4>원하는 스타일을 찾아보세요!</h4><br><br>
	    <div id="columns">
		    <div class="pin">
		    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1"><img src="/images/m9.jpg"/>
			    <p>
			         20,000원
			    </p></button>
                    <!-- Modal -->
                        <div id="myModal1" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">20,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;">
                                <h3><br></h3><h3>아티스트 이미나</h3>
                                <h4>***</h4>
                                <br><h4>nina34 :맘에들어요. 어머니께도 추천함!!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
		    </div>
	
    		<div class="pin">
    		    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2"><img src="/images/m10.jpg"/>
			    <p>
			         7,000원
			    </p></button>
                    <!-- Modal -->
                        <div id="myModal2" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">7000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br>
                                </h3><h3>아티스트 김한정</h3><br>
                                <h4>***</h4>
                                <h4>hi7364:쉐이핑부터 아트까지 다 잘해주세요.</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    	
    		<div class="pin">
    		    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3"><img src="/images/m11.jpg"/>
			    <p>
			         10,000원
			    </p></button>
                    <!-- Modal -->
                        <div id="myModal3" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">10,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br>
                                </h3><h3>아티스트 이미나</h3>
                                <h4>***</h4>
                                <br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    
    		<div class="pin">
    		  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4">	<img src="/images/m12.jpg" />
    			<p>
    			    12,000원
    			</p></button>
    			
    			 <!-- Modal -->
                        <div id="myModal4" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">12,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>아트젤네일 전문</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;">
                                <h3><br></h3><h3>아티스트 김희연</h3>
                                <h4>***</h4>
                                <br><h4>minha01 : 프로급 네일을 저렴한 가격에 받아 만족스럽습니다<br></h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    	                                           
    		<div class="pin">
    			 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal5"><img src="/images/m55.jpg" />
    			<p>
    				30,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal5" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                          <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">30,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3>
                                 <h4>***</h4>
                                 <br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    	
    	
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal6">	<img src="/images/m16.jpg" />
    			<p>
              20,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal6" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"> 20,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    		
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal7">	<img src="/images/m17.jpg" />
    			<p>
                    15,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal7" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">15,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    	
    	
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal8">	<img src="/images/m1.jpg" />
    			<p>
    			    18,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal8" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                          <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">18,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    	
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal9">	<img src="/images/m2.jpg" />
    			<p>
    			    30,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal9" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                           <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">30,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    		
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal10">	<img src="/images/m3.jpg" />
    			<p>
    			    8,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal10" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">8,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    		
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal11">	<img src="/images/m4.jpg" />
    			<p>
    	            35,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal11" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">35,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    	
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal12">	<img src="/images/m5.jpg" />
    			<p>
    			    27,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal12" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">27,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    		
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal13">	<img src="/images/m6.jpg" />
    			<p>
    			    25,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal13" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                          <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">25,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    		
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal14">	<img src="/images/m7.jpg" />
    			<p>
    			    22,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal14" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">22,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    	
    		<div class="pin">
    		 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal15">	<img src="/images/m8.jpg" />
    			<p>
    			    18,000원
    			</p></button>
    			 <!-- Modal -->
                        <div id="myModal15" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                           <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">18,000원</h4>
                              </div>
                              <div class="modal-body" style="color: white;">
                                <h4>저렴한 가격에 고퀄 네일아트를 경험해보세요!</h4></div>
                                <div class="col-xs-8 col-sm-4 modify"><img src="/images/11.jpg" class="img-circle"></div>
                                <div class="col-xs-6 col-sm-8" style="color: white;"><h3><br></h3><h3>아티스트 이미나</h3><br><h4>너무너무 예뻐요~<br>지금까지 받아본 네일 중<br>제일 마음에 듭니다!</h4></div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
    		</div>
    	
	    </div>
    </div>
</section>
  <!--  <div id="map"></div>-->
  
      <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/grayscale.js"></script>
    
    <ul class="community__container row col-center list-unstyled js-community-container">

   </ul>